-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "condominios" (
    "id" SERIAL NOT NULL,
    "nome" TEXT NOT NULL,
    "cnpj_pix" TEXT NOT NULL,
    "responsavel" TEXT,
    "texto_padrao_cobranca" TEXT,
    "texto_padrao_fundo_obras" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "condominios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "apartamentos" (
    "id" SERIAL NOT NULL,
    "condominio_id" INTEGER NOT NULL,
    "numero" TEXT NOT NULL,
    "morador" TEXT,
    "proprietario" TEXT,
    "ativo" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "apartamentos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cobrancas_mensais" (
    "id" SERIAL NOT NULL,
    "condominio_id" INTEGER NOT NULL,
    "mes_referencia" TEXT NOT NULL,
    "data_vencimento" TIMESTAMP(3) NOT NULL,
    "taxa_condominio_padrao" DECIMAL(10,2) NOT NULL,
    "taxa_extra_padrao" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "preco_gas_m3_padrao" DECIMAL(10,2) NOT NULL,
    "observacoes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'aberta',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "cobrancas_mensais_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cobranca_itens" (
    "id" SERIAL NOT NULL,
    "cobranca_mensal_id" INTEGER NOT NULL,
    "apartamento_id" INTEGER NOT NULL,
    "taxa_condominio" DECIMAL(10,2) NOT NULL,
    "taxa_extra" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "leitura_anterior_gas" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "leitura_atual_gas" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "consumo_gas" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "preco_gas_m3" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "valor_gas" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "total_a_pagar" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "valor_pago" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "status_pagamento" TEXT NOT NULL DEFAULT 'pendente',
    "data_pagamento" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "cobranca_itens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prestacoes_contas" (
    "id" SERIAL NOT NULL,
    "condominio_id" INTEGER NOT NULL,
    "mes_referencia" TEXT NOT NULL,
    "saldo_mes_anterior" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "total_receitas" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "total_despesas" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "credito_mes" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "total_atrasos" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "saldo_reserva_gas" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "saldo_conta_corrente" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "saldo_poupanca" DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    "status" TEXT NOT NULL DEFAULT 'aberta',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "prestacoes_contas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "receitas" (
    "id" SERIAL NOT NULL,
    "prestacao_contas_id" INTEGER NOT NULL,
    "descricao" TEXT NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "origem" TEXT NOT NULL DEFAULT 'manual',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "receitas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "despesas" (
    "id" SERIAL NOT NULL,
    "prestacao_contas_id" INTEGER NOT NULL,
    "descricao" TEXT NOT NULL,
    "categoria" TEXT,
    "valor" DECIMAL(10,2) NOT NULL,
    "data_pagamento" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "despesas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimentacoes_financeiras" (
    "id" SERIAL NOT NULL,
    "prestacao_contas_id" INTEGER NOT NULL,
    "conta" TEXT NOT NULL,
    "descricao" TEXT NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "tipo" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimentacoes_financeiras_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "atrasos" (
    "id" SERIAL NOT NULL,
    "prestacao_contas_id" INTEGER NOT NULL,
    "mes_referencia" TEXT NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "atrasos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "creditos" (
    "id" SERIAL NOT NULL,
    "prestacao_contas_id" INTEGER NOT NULL,
    "descricao" TEXT NOT NULL,
    "valor" DECIMAL(10,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "creditos_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "apartamentos_condominio_id_numero_key" ON "apartamentos"("condominio_id", "numero");

-- CreateIndex
CREATE UNIQUE INDEX "cobrancas_mensais_condominio_id_mes_referencia_key" ON "cobrancas_mensais"("condominio_id", "mes_referencia");

-- CreateIndex
CREATE UNIQUE INDEX "cobranca_itens_cobranca_mensal_id_apartamento_id_key" ON "cobranca_itens"("cobranca_mensal_id", "apartamento_id");

-- CreateIndex
CREATE UNIQUE INDEX "prestacoes_contas_condominio_id_mes_referencia_key" ON "prestacoes_contas"("condominio_id", "mes_referencia");

-- AddForeignKey
ALTER TABLE "apartamentos" ADD CONSTRAINT "apartamentos_condominio_id_fkey" FOREIGN KEY ("condominio_id") REFERENCES "condominios"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cobrancas_mensais" ADD CONSTRAINT "cobrancas_mensais_condominio_id_fkey" FOREIGN KEY ("condominio_id") REFERENCES "condominios"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cobranca_itens" ADD CONSTRAINT "cobranca_itens_cobranca_mensal_id_fkey" FOREIGN KEY ("cobranca_mensal_id") REFERENCES "cobrancas_mensais"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cobranca_itens" ADD CONSTRAINT "cobranca_itens_apartamento_id_fkey" FOREIGN KEY ("apartamento_id") REFERENCES "apartamentos"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prestacoes_contas" ADD CONSTRAINT "prestacoes_contas_condominio_id_fkey" FOREIGN KEY ("condominio_id") REFERENCES "condominios"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "receitas" ADD CONSTRAINT "receitas_prestacao_contas_id_fkey" FOREIGN KEY ("prestacao_contas_id") REFERENCES "prestacoes_contas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "despesas" ADD CONSTRAINT "despesas_prestacao_contas_id_fkey" FOREIGN KEY ("prestacao_contas_id") REFERENCES "prestacoes_contas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimentacoes_financeiras" ADD CONSTRAINT "movimentacoes_financeiras_prestacao_contas_id_fkey" FOREIGN KEY ("prestacao_contas_id") REFERENCES "prestacoes_contas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "atrasos" ADD CONSTRAINT "atrasos_prestacao_contas_id_fkey" FOREIGN KEY ("prestacao_contas_id") REFERENCES "prestacoes_contas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "creditos" ADD CONSTRAINT "creditos_prestacao_contas_id_fkey" FOREIGN KEY ("prestacao_contas_id") REFERENCES "prestacoes_contas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

